.article-2-titles, .article-2-titles-h2 {
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theme-row {
  padding-bottom: 20px;
}
.feature-box {
  padding-left: 3%;
  padding-right: 3%;
}
.article-2-titles {
  white-space: nowrap; 
  color: black;
}
.homepage-img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .article-2-titles {
    font-size: 24px;
  }
}
@media (min-width: 0px) {
  .btn {
    font-size: 2vw;
  }
}
@media (min-width: 768px) {
  .btn {
    font-size: 1.2vw;
  }
}
@media (min-width: 992px) {
  .btn {
    font-size: .8vw;
  }
}
@media (min-width: 1200px) {
  .btn {
    font-size: .7vw;
  }
}
